<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <script type="text/javascript">
			var video = document.getElementById("demo-vid");
            
            //console.log(psiTurk.getInstructionIndicator())
        </script>
    
    <p>
        <font size = '+2'>6. The traffic lights and pedestrians in the videos are indicated by specialized markers. Traffic lights are indicated by red, orange and green circles. The pedestrians are marked by a blue ring.</font>
    </p>
    <div id="video-container">
        <video id="demo-vid" width="640" height="480" controls = "controls">
            <source id="source_comp_demo" src="../../static/demo_videos/traffic_light_pedestrian.webm" type="video/webm">
        </video>
    </div>

    	
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
